.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: #252525 !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    
}